.active {
  color: var(--White) !important;
  background-color: var(--LightGrey) !important;
}

.card__rating {
  width: 335px;
  height: 380px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--DarkBlue);

  .card__rating__star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 16px 0px;
    border-radius: 50%;
    background-color: var(--DarkBlueOpacity);
  }

  .card__rating__title {
    .card__rating__title_text {
      margin-bottom: 16px;
      color: var(--White);
      font-weight: 700;
    }
  }

  .card__rating__body {
    .card__rating__body_text {
      padding: 0 0 12px 0;
      color: var(--LightGrey);
      font-family: "Overpass", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
  }

  .card__rating__body_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--LightGrey);
    font-weight: 700;

    .card__rating__body_rating {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--DarkBlueOpacity);
    }
    :hover {
      cursor: pointer;
      color: var(--White);
      background-color: var(--Orange);
    }
  }

  .card__rating__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    .card__rating__footer_button_submit {
      width: 100%;
      margin-top: 32px;
      padding: 15px;
      border: none;
      border-radius: 20px;

      color: var(--White);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
      background-color: var(--Orange);
    }
    .card__rating__footer_button_submit:hover {
      cursor: pointer;
      color: var(--Orange);
      background-color: var(--White);
    }
  }
}
